*{
    font-family: "Didot, Sans-Serif";
}
:root{

    /* CSS HEX */
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;

    --black: hsla(0, 0%, 0%, 1);
    --oxford-blue: hsla(221, 51%, 16%, 1);
    --orange-web: hsla(37, 98%, 53%, 1);
    --platinum: hsla(0, 0%, 90%, 1);
    --white: hsla(0, 0%, 100%, 1);

}

body{
    background-color: var(--platinum);
}

.card{
    height: 90%;
}

#image-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}


#searchbox{

    background-color: var(--oxford-blue);
    min-width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 25vh; */
}

#searchbox h2{

    font-size: 3rem;
    color: var(--platinum);

}

#search_text{
    width: 50%;
}


#tableDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* #searchresult{
    height: 70vh;
} */

#title{
    /* color: black; */
    text-shadow: 3px 3px black;
    color: var(--platinum);
    font-size: 60px;
}

#paragraph{
    color: var(--platinum);
    font-size: 20px;
}


#fentanyl-header{
    background-color: var(--oxford-blue);
    margin-top: 0%;
    padding-top: 0.5%; 
    padding-bottom: 0.5%;
    text-align: center;

}

.card-text-fentanyl{
    text-align: left;
}

.drug-information-container{
    display: flex;
    flex-direction: row;

    height: 75vh;
}

/* #accordion-box{
    margin-top: 2rem;
} */

.drug-information{
    width: 50%;
}

.card-title-bn{
    text-align: center;
}

.card-info .card-header:first-child{
    color: var(--orange-web);
    font-size: 135%;
    text-shadow: 3px 3px  white;
    font-weight: 600;
}

.list-group-item{
    margin-bottom: .25rem;
}


.container .drug-information #carouselExampleControls .carousel-inner .carousel-item, img{
    /* height: 20rem; */
    width: 100%;
}

.drug-information-container .container .drug-information #row-interactions{
    width: 80rem;
}

#background-info{
    display: flex;
    align-content: flex-start;

}
