*{
    font-family: "Didot, Sans-Serif";
}
:root{

    /* CSS HEX */
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;

    --black: hsla(0, 0%, 0%, 1);
    --oxford-blue: hsla(221, 51%, 16%, 1);
    --orange-web: hsla(37, 98%, 53%, 1);
    --platinum: hsla(0, 0%, 90%, 1);
    --white: hsla(0, 0%, 100%, 1);

}


#searchbox{

    background-color: var(--oxford-blue);
    min-width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 25vh; */
}

#searchbox h2{

    font-size: 3rem;
    color: var(--platinum);

}

#search_text{
    width: 50%;
}


#tableDiv {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#searchresult{
    /* height: 70vh; */
}

#title{
    color: black;
    text-shadow: 7px 7px #FFFFFF;
    font-size: 60px;
}

#paragraph{
    font-size: 20px;
}

#background{
    margin-top: 10rem;
}

#fentanyl-header{
    margin-top: 0%;
    padding-top: 0.5%; 
    padding-bottom: 0.5%;
    text-align: center;

}

.card-text-fentanyl{
    text-align: left;
}

.drug-information-container{
    display: flex;
    flex-direction: row;
}

.drug-information{
    width: 50%;
}

.card-title-bn{
    text-align: center;
}

.drug-information-container .drug-information .bn-and-csa .container .row .col #card-info .card-header:first-child{
    font-weight: 600;
}



